---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <article class="post-content">
          {{ post.excerpt }}
        </article>
        <a href="{{ post.url | prepend: site.baseurl }}">full text/comments (you should comment! comments are awesome!)</a>
      </li>
    {% endfor %}
  </ul>

  <p class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">previous</a> &bull;
    {% endif %}
    <span class="page_number ">page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      &bull; <a href="{{ paginator.next_page_path }}" class="next">next</a>
    {% endif %}
  </p>
  
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
